.terminal {
    border: solid 1px var(--white);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    width: 100%;
    min-height: 400px;
    padding: 1.5rem;
    background-color: var(--black);
    overflow-y: scroll;
}

.interface {
    position: absolute;
    left: -100vw;
}

.commandLine::before {
    font-family: cursor, monospace;
    color: #519975;
    content: "visitor@mattmillerdev.io:~$";
    margin-right: 10px;
}

.cursor {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
}