:root { 
  --dark-green: #7A8D81;
  --light-green: #28C264;
  --black: #101010;
  --black-2: #151515;
  --blue: #28c2bf;
  --white: #ececec;
}

html,
body {
  padding: 1rem;
  position: relative;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--black);
  color: var(--dark-green);
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

article.main {
  height: 100%;
  max-width: 900px;
  width: 100%;
  padding: 1rem;
}

article.post-archive {
  display: flex;
  flex-direction: column;
}

.blog-headline {
  display: inline-block;
}

.blog-headline:hover {
  color: var(--blue);
}

table {
  width: 100%;
  background-color: var(--black);
  border-collapse: collapse;
  border-width: 2px;
  border-color: var(--black-2);
  border-style: solid;
  color: var(--white);
}

table, th, td {
  border-width: 2px;
  border-color: var(--black-2);
  border-style: solid;
  padding: 5px;
}

table thead {
  background-color: var(--black-2);
}

.banner {
  text-align: center;
  color: #59d46d;
  /* font-size: clamp(1rem, 2.5vw, 2rem);  */
}

@media screen and (max-width: 691px) {
  .banner {
    font-size: 4px;
  }
}

pre:not(.banner) {
  position: relative;
  padding: 2rem;
  border-radius: 15px;
  overflow-x: scroll;
  background-color: var(--black-2);
}

pre:hover > button {
  display: block;
}

button {
  position: absolute;
  background-color: var(--black-2);
  border: solid 1px var(--dark-green);
  color: var(--white);
  border-radius: 10px;
  padding: 10px;
  display: none;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

button.copied {
  border-color: var(--light-green);
}

.button-copy {
  fill: var(--dark-green);
}

.button-checked {
  fill: var(--light-green);
}

code {
  color: var(--dark-green);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--light-green);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 900px;
  padding: 1rem;
}

nav a {
  display: flex;
}

nav .terminal-button {
  width: 30px;
}

.utility-nav {
  display: flex;
  gap: 10px;
}

nav svg {
  width: 25px;
}

nav svg:hover path {
  filter: drop-shadow(0px 0px 10px var(--light-green));
}

footer {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  text-align: center;
}

.code-logos {
  padding: 1rem;
}

.dev-icons {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.dev-icons svg {
  width: 30px;
}

.dev-icons .dark {
  filter: invert(1);
}

.dev-icons svg:hover {
  filter: drop-shadow(0px 0px 3px var(--light-green));
}

.home-banner {
  text-align: center;
}